@model iys.ModelProject.DOCUMENT

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DOCUMENT</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.DOCUMENT_NAME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOCUMENT_NAME)
                @Html.ValidationMessageFor(model => model.DOCUMENT_NAME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RES_CODE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RES_CODE)
                @Html.ValidationMessageFor(model => model.RES_CODE)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Dosya Yükle")
            <div class="col-md-10">
                <input type="file" name="file" />
            </div>
        </div>
      
        <div class="form-group">
            @Html.LabelFor(model => model.COURSE_CODE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.COURSE_CODE)
                @Html.ValidationMessageFor(model => model.COURSE_CODE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CHAPTER_CODE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CHAPTER_CODE)
                @Html.ValidationMessageFor(model => model.CHAPTER_CODE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LESSON_CODE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LESSON_CODE)
                @Html.ValidationMessageFor(model => model.LESSON_CODE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ROW_NO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ROW_NO)
                @Html.ValidationMessageFor(model => model.ROW_NO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOCUMENT_TYPE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOCUMENT_TYPE)
                @Html.ValidationMessageFor(model => model.DOCUMENT_TYPE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PATH, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PATH)
                @Html.ValidationMessageFor(model => model.PATH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LINK_TYPE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LINK_TYPE)
                @Html.ValidationMessageFor(model => model.LINK_TYPE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DURATION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DURATION)
                @Html.ValidationMessageFor(model => model.DURATION)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PRIORITY, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PRIORITY)
                @Html.ValidationMessageFor(model => model.PRIORITY)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ROW_ORDER_NO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ROW_ORDER_NO)
                @Html.ValidationMessageFor(model => model.ROW_ORDER_NO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VISIBLE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VISIBLE)
                @Html.ValidationMessageFor(model => model.VISIBLE)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
