@model iys.ModelProject.CHAPTER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CHAPTER</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CHAPTER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHAPTER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COURSE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COURSE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RES_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RES_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDER_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VISIBLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VISIBLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROW_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROW_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DURATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DURATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_USER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_USER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE_USER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE_USER)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CHAPTER_CODE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
