@model IEnumerable<iys.ModelProject.CHAPTER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CHAPTER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COURSE_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RES_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDER_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VISIBLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROW_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DURATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATE_USER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATE_USER)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CHAPTER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COURSE_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RES_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORDER_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VISIBLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROW_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DURATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATE_USER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATE_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_UPDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_UPDATE_USER)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CHAPTER_CODE }) |
            @Html.ActionLink("Details", "Details", new { id=item.CHAPTER_CODE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CHAPTER_CODE })
        </td>
    </tr>
}

</table>
