@using Microsoft.AspNet.Identity
@using iys.Models;
@model iys.Models.ManageUserViewModel

<<<<<<< HEAD
<p> <strong>@User.Identity.GetUserName()</strong> @Res.resGetir(17)</p>
=======
@*<p> <strong>@User.Identity.GetUserName()</strong> Olarak Giriş Yaptınız</p>*@
>>>>>>> 8adaa6823ed88d05a1abe9671ba915bfc4c32a95

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<<<<<<< HEAD
    <h4>@Res.resGetir(18)</h4>
=======
    <h4 style="margin-left:120px;text-decoration:initial;">Şifre Değiştirme Formu  </h4>
>>>>>>> 8adaa6823ed88d05a1abe9671ba915bfc4c32a95
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-1 control-label labelhizalama" })
        <div class="col-md-2" style="padding-right:0px;">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-1 control-label labelhizalama" })
        <div class="col-md-2"style="padding-right:0px;">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-1 control-label labelhizalama" })
        <div class="col-md-2" style="padding-right:0px;">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
<<<<<<< HEAD
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=@Res.resGetir(19) class="btn btn-default" />
=======
        <div class="col-md-offset-1 col-md-11">
            <input type="submit" value="Şifreyi Değiştir" class="btn btn-default" />
>>>>>>> 8adaa6823ed88d05a1abe9671ba915bfc4c32a95
        </div>
    </div>
}
