@using Microsoft.AspNet.Identity
@model iys.Models.ManageUserViewModel

@*<p> <strong>@User.Identity.GetUserName()</strong> Olarak Giriş Yaptınız</p>*@

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 style="margin-left:120px;text-decoration:initial;">Şifre Değiştirme Formu  </h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-1 control-label labelhizalama" })
        <div class="col-md-2" style="padding-right:0px;">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-1 control-label labelhizalama" })
        <div class="col-md-2"style="padding-right:0px;">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-1 control-label labelhizalama" })
        <div class="col-md-2" style="padding-right:0px;">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-11">
            <input type="submit" value="Şifreyi Değiştir" class="btn btn-default" />
        </div>
    </div>
}
