@using iys.Models
@model iys.Models.RegisterViewModel
@{
    ViewBag.Title = @Res.resGetir(25);
}
<div class="col-md-1"></div>
<div class="col-md-11">
    <h2 style="margin-left:140px;">Kayıt Bölümü</h2>

<<<<<<< HEAD
<h2 style="margin-left:140px;">@Res.resGetir(34)</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 style="margin-left:140px;">@Res.resGetir(35)</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
=======
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 style="margin-left:140px;">Yeni Bir Hesap Oluşturun</h4>
        <hr />
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-1 control-label" })
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
>>>>>>> 8adaa6823ed88d05a1abe9671ba915bfc4c32a95
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-1 control-label" })
            <div class="col-md-2">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-1 control-label" })
            <div class="col-md-2">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
<<<<<<< HEAD
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value=@Res.resGetir(36) />
=======
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Kayıt Ol" />
            </div>
>>>>>>> 8adaa6823ed88d05a1abe9671ba915bfc4c32a95
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
