<!DOCTYPE html>
<html>
<head>
    <title>Metiskop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
   @*<script>$(document).ready(function () {
if (document.getElementById('content').scrollHeight < document.body.clientHeight)
{ document.getElementById('footer').style.position = "fixed"; document.getElementById('footer').style.bottom = "0"; }
}); </script>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="@Url.Content("~/Scripts/jquery-1.11.2.min.js")" type="text/javascript"></script>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.cycle.min.js"></script>
   
    <!-- The DevExpress ASP.NET MVC Extensions' scripts -->
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Chart },
        new Script { ExtensionSuite = ExtensionSuite.Report },
        new Script { ExtensionSuite = ExtensionSuite.Scheduler },
        new Script { ExtensionSuite = ExtensionSuite.TreeList },
        new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
        new Script { ExtensionSuite = ExtensionSuite.SpellChecker }
    )

    @Html.DevExpress().GetStyleSheets(
                new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Metropolis" },
                        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Metropolis" },
                        new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor, Theme = "Metropolis" },
                                                                        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "BlackGlass" },
                        new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid, Theme = "Metropolis" },
                        new StyleSheet { ExtensionSuite = ExtensionSuite.Chart, Theme = "Metropolis" },
                        new StyleSheet { ExtensionSuite = ExtensionSuite.Report, Theme = "Metropolis" },
                        new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler, Theme = "Metropolis" },
                        new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList, Theme = "Metropolis" },
                        new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet, Theme = "Metropolis" },
                        new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker, Theme = "Metropolis" }
    )
    
    
   

</head>

@*<body>
        <div class="navbar navbar-inverse navbar-fixed-top navbar-ozellik">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Metiskop", "Index", "Home", null, new { @class = "navbar-brand header-yazi-ozellik sol-border" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                            <li><center>@Html.ActionLink("Home", "Index", "Home", new { @class = "navbar-brand header-yazi-ozellik header-padding " }) </center> </li>
                            <li><center> @Html.ActionLink("About", "About", "Home", new { @class = "navbar-brand header-yazi-ozellik header-padding" }) </center></li>
                            <li><center> @Html.ActionLink("Contact", "Contact", "Home", new { @class = "navbar-brand header-yazi-ozellik header-padding" })  </center></li>

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p class="footer-yazi-ozellik">&copy; @DateTime.Now.Year - Metiskop</p>
            </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>*@

<body id="top">
   
    <!-- ####################################################################################################### -->
    <div class="wrapper col1">
        <div id="header">
            <div id="topnav">
                @Html.Partial("_LoginPartial")
                <ul>
                    @*<li class="last"><a href="#">Link text</a><span>Test Text Here</span></li>
                    <li>
                        <a href="#">DropDown</a><span>Test Text Here</span>
                        <ul>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                        </ul>
                    </li>*@
                    @*<li><a href="pages/full-width.html">Full Width</a><span>Test Text Here</span></li>
                        <li><a href="pages/style-demo.html">Style Demo</a><span>Test Text Here</span></li>
                        <li class="active"><a href="index.html">Homepage</a><span>Test Text Here</span></li>*@



                    <li><center>@Html.ActionLink("Home", "Index", "Home") </center> </li>
                    <li><center> @Html.ActionLink("About", "About", "Home") </center></li>
                    <li><center> @Html.ActionLink("Contact", "Contact", "Home")  </center></li>
                </ul>                
            </div>
            <div id="logo">
                @*<h1><a href="index.html"><strong>O</strong>st <strong>M</strong>agazine</a></h1>
                <p>Free Website Template</p>*@
                <img src="~/img/logo.png" style="width:300px; height:82px;" />
            </div>
            <br class="clear" />
        </div>
    </div>
    <!-- ####################################################################################################### -->
    @RenderBody()
    <!-- ####################################################################################################### -->
    <footer>
        <div class="wrapper col5"style="bottom: 0;position:fixed;">
            <div id="copyright">
                <p class="fl_left">Copyright &copy; 2015 - Metiskop - <a href="#">İzmit Mesleki ve Teknik Anadolu Lisesi</a></p>
              <a target="_blank" style="float:right; text-decoration:none;" href="http://www.veribis.com.tr/" title="Free Website Templates">Veribis CRM</a>
                <br class="clear" />
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
