<div id='cssmenu'>
    <ul>
        <li>@Html.ActionLink("Kurslar   ", "Index", "Course")</li>
        <li>@Html.ActionLink("Bölümler  ", "Index", "Chapter")</li>
        <li>@Html.ActionLink("Dersler   ", "Index", "Lesson")</li>
        <li>@Html.ActionLink("Belgeler  ", "Index", "Document")</li>
        <li>@Html.ActionLink("Sorular   ", "Index", "Questions")</li>
        <li>@Html.ActionLink("Cevap Ekle    ", "Index", "ANSWER")</li>
        <li>@Html.ActionLink("Cevap Sonucu  ", "Index", "AnswerResult")</li>
    </ul>
</div>



