
@{
    ViewBag.Title = "Index";
}
<h4></br>
    @Html.ActionLink("Kurslar   ", "Index", "Course")

    @Html.ActionLink("Bölümler  ", "Index", "Chapter")

    @Html.ActionLink("Dersler   ", "Index", "Lesson")

    @Html.ActionLink("Belgeler  ", "Index", "Document")

    @Html.ActionLink("Sorular   ", "Index", "Questions")

    @Html.ActionLink("Cevap Ekle    ", "Index", "ANSWER")

    @Html.ActionLink("Cevap Sonucu  ", "Index", "AnswerResult")

</h4>


